# BOT_TOKEN=8308240880:AAESH8NF3w8bep5qIkGyuAXpe3POsekuVFU

BOT_TOKEN=
YOOKASSA_TOKEN=

CHANNEL_ID=
TEST_CHANNEL_ID=
CHANNEL_URL=

FREE_GUIDE_LINK=
ADMIN_ID=
# ADMIN_ID=5893057864  #@outinspace20
DB_URL=
ALEMBIC_DB_URL=

WEBHOOK_SECRET=

HOST=
PORT=
TRIBUTE_API_TOKEN=