-i https://pypi.org/simple
aiofiles==25.1.0; python_version >= '3.9'
aiogram==3.27.0; python_version >= '3.10' and python_version < '3.15'
aiohappyeyeballs==2.6.1; python_version >= '3.9'
aiohttp==3.13.5; python_version >= '3.9'
aiohttp-socks==0.11.0; python_full_version >= '3.8.0'
aiosignal==1.4.0; python_version >= '3.9'
aiosqlite==0.22.1; python_version >= '3.9'
alembic==1.18.4; python_version >= '3.10'
annotated-types==0.7.0; python_version >= '3.8'
attrs==26.1.0; python_version >= '3.9'
certifi==2026.4.22; python_version >= '3.7'
frozenlist==1.8.0; python_version >= '3.9'
greenlet==3.4.0; python_version >= '3.10'
idna==3.13; python_version >= '3.8'
magic-filter==1.0.12; python_version >= '3.7'
mako==1.3.11; python_version >= '3.8'
markupsafe==3.0.3; python_version >= '3.9'
multidict==6.7.1; python_version >= '3.9'
propcache==0.4.1; python_version >= '3.9'
pydantic==2.12.5; python_version >= '3.9'
pydantic-core==2.41.5; python_version >= '3.9'
python-socks[asyncio]==2.8.1; python_full_version >= '3.8.0'
sqlalchemy==2.0.49; python_version >= '3.7'
typing-extensions==4.15.0; python_version >= '3.9'
typing-inspection==0.4.2; python_version >= '3.9'
yarl==1.23.0; python_version >= '3.10'

APScheduler==3.11.2
pytz==2026.2
